@import "../../../swc_web_v2/search_mrsparkle/exposed/pcss/base/bootstrap.pcss";
@import "../../../swc_web_v2/search_mrsparkle/exposed/js/views/dashboard/DashboardPage.pcss";

$staticFontPath:    ../../../fonts;
